################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChallengedChampionsVolunteerScheduler/v15/.suo
/CCVolunteerScheduler/.vs/CCVolunteerScheduler/v15/Server/sqlite3/db.lock
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/CCVolunteerScheduler/.vs/CCVolunteerScheduler/v15/Server/sqlite3/storage.ide
/CCVolunteerScheduler/.vs/CCVolunteerScheduler/v15/Server/sqlite3/storage.ide-shm
/CCVolunteerScheduler/.vs/CCVolunteerScheduler/v15/Server/sqlite3/storage.ide-wal
/CCVolunteerScheduler/.vs/CCVolunteerScheduler/v15/.suo
/CCVolunteerScheduler/.vs/config/applicationhost.config
/CCVolunteerScheduler/CCVolunteerScheduler/bin/CCVolunteerScheduler.dll.config
/CCVolunteerScheduler/CCVolunteerScheduler/bin/DayPilot.Web.Mvc.dll
/CCVolunteerScheduler/CCVolunteerScheduler/bin/System.Net.Http.Formatting.dll
/CCVolunteerScheduler/CCVolunteerScheduler/bin/System.Net.Http.Formatting.xml
/CCVolunteerScheduler/CCVolunteerScheduler/bin/System.Web.Http.dll
/CCVolunteerScheduler/CCVolunteerScheduler/bin/System.Web.Http.WebHost.dll
/CCVolunteerScheduler/CCVolunteerScheduler/bin/System.Web.Http.WebHost.xml
/CCVolunteerScheduler/CCVolunteerScheduler/bin/System.Web.Http.xml
/CCVolunteerScheduler/CCVolunteerScheduler/obj/Debug/CCVolunteerScheduler.csproj.CopyComplete
/CCVolunteerScheduler/CCVolunteerScheduler/obj/Debug/CCVolunteerScheduler.csproj.CoreCompileInputs.cache
/CCVolunteerScheduler/CCVolunteerScheduler/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/CCVolunteerScheduler/CCVolunteerScheduler/obj/Release/CCVolunteerScheduler.csproj.CoreCompileInputs.cache
/CCVolunteerScheduler/UpgradeLog.htm
/CCVolunteerScheduler/UpgradeLog2.htm
/CCVolunteerScheduler/.vs/CCVolunteerScheduler/v14/.suo
