################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChallengedChampionsVolunteerScheduler/v15/.suo
