@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<center>
    <h2>Login</h2>
    <div class="pompt">
        <label> Username: </label><input id="username" type="text" name="username" />
    </div>
    <div class="prompt">
        <label> Password: </label><input id="password" type="password" name="password" />
    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info">Login</button>
</center>