@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AdminHome";
}

@section navbar {
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse rounded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand headerSpacing" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "AdminHome", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Calendar", "AdminCalendar", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Communications", "Communications", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Volunteers", "Volunteers", "Home", new { @class = "nav-link" })<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
}
<br />
<br />
<br />

<div class="col-xs-12 col-md-12">
    <h3><p>Welcome!</p></h3>
</div>

<br />
<div class="col-xs-12 col-md-12 col-xl-12">
    <p>
        <h4>Events</h4>
        The "Calendar" page is where event management will take place.<br /><br />
        <code>Adding an Event</code><br />
        To add a new event to the schedule click the "Add Event" button at the bottom of the calendar.<br />
        You will see a pop-up prompting you for information. Fill out each field and then click the "Save" button.<br />
        That event will now show up in the calendar for all volunteers to see and sign up for. <br />
        If you would prefer volunteers not sign up or sign-ups are not necessary, set the max number of volunteers to '0'<br /><br />
        <code>Editing an Event</code><br />
        To edit an events information click on the event and then click the "Edit" button.<br />
        Adjust whichever information needs changed and then click the "Update" button.<br /><br />
        <code>Copying an Event</code><br />
        For recurring events, click the event that is going to be repeated and then click the "Edit" button.<br />
        Choose a new date for this event to take place and click the "Copy" button.<br />
        That event will now show up on the original date and the new date that you chose.<br /><br />
        <code>Deleting an Event</code><br />
        If you would like to remove an event from the calendar, start by clicking on the event.<br />
        Click the "Edit" button and then click the "Delete" button.<br />
        That event will now be removed from all calendars.<br />
    </p>
    <br />
    <p>
        <h4>Communicating with Volunteers</h4>
        On the "Communications" page there are several buttons that can be used to communicate with volunteers.<br /><br />
        <code>Email All Volunteers</code><br />
        This button will send an email to every volunteer in the database. If they show up on the Volunteer page they will receive an email.<br /><br />
        <code>Email All Volunteers Working Today</code><br />
        This button will send an email to any volunteer that is scheduled for an event today. <br /><br />
        <code>Text All Volunteers</code><br />
        This button will send a text message to all volunteers in the database. If they show up on the Volunteer page they will receive a text.<br /><br />
        <code>Text Today's Volunteers</code><br />
        This button can be used as an auto-reminder for volunteers. Click this button and you will be brought to a screen asking you to type a message. Type your
        auto-reminder message and then click the submit button. Any volunteer who is signed up for an event today and has auto-reminders enabled will
        receive a text message with your message in it. Keep in mind, if a user has auto-reminders disabled, they will not receive this text.<br /><br />
        <code>Contacting Individuals</code><br />
        To contact an individual volunteer please refer to the Volunteer page. Here you can find their email address and their phone number. There is not a feature to contact<br />
        individuals so this information can be used to send them an email or text manually.<br />
    </p>
    <br />
    <p>
        <h4>Managing Volunteers and Volunteer Data</h4>
        The "Volunteers" page is where you can view and edit volunteer information. The table on this page is sorted first by the "Active" status, and then by the volunteers position.<br />
        If you would like to search for something specific, press <kbd>CTRL + F</kbd> on your keyboard and then type in what you would like to find.<br /><br />
        <code>Adding a New Volunteer</code><br />
        At the bottom of the table of Volunteers is a button labeled "Add Volunteer". Simply click this button, fill out the form that appears on your screen, <br />
        and then click the "Save" button. The new  volunteer with the information you provided will now show up in the volunteer table. <br /><br />
        <code>Editing a Volunteer</code><br />
        To edit or correct an error with volunteer information, click the "Edit" button to the right of the volunteer you would like to edit.<br />
        A form will appear populated with that volunteer's information. Make the changes you would like to make and then click the "Save" button/<br /><br />
        <code>Resetting Hours</code><br />
        To reset a single volunteers hours, click the "Edit" button next to their name and then change their "Hours Worked" to 0.<br />
        To reset ALL volunteer hours click the "Reset Hours" button. You will get a pop-up asking to confirm your action. Upon clicking the "Ok" button<br />
        all hours will be reset to 0.<br /><br />
    </p>
</div>

<br />
<br />
<br />
