@{
    ViewBag.Title = "ChangePhoneNumber";
}

<div class="changephone" align="center">
    <h4>Change Phone Number</h4>
    <form class="changephone_form">
        <p>New Phone Number:</p>
        <input type="tel" name="" placeholder="Enter new phone number">
        <p>Confirm New Phone Number:</p>
        <input type="tel" name="" placeholder="Confirm new phone number">
        <p>Password:</p>
        <input type="password" name="" placeholder="Enter your password">
        <input type="submit" value="Submit" />
    </form>
</div>
