@{
    ViewBag.Title = "ChangePassword";
}

<div class="changepwd" align="center">
    <h2>Change Password</h2>
    <form class="changepwd_form">
        <div class="text-container">
            <p class="center">New Password:</p>
            <input type="password" name="" placeholder="Enter new password">
            <p>Confirm New Password:</p>
            <input type="password" name="" placeholder="Confirm new password">
        </div>
        <input type="submit" value="Submit" />
    </form>
</div><!--changepwd-->