@model CCVolunteerScheduler.Models.ChangePhoneNumberModel

@{
    ViewBag.Title = "Change Phone Number";
}

<h2>@ViewBag.Title</h2>

<center>
    </body>
<div class="changePhone">
    @Html.LabelFor(model => model.NewPhoneNumber)
    @Html.EditorFor(model => model.NewPhoneNumber)
    @Html.ValidationMessageFor(model => model.NewPhoneNumber)
    <input type="submit" value="Save" />
</div>
</center>
</body>