@model CCVolunteerScheduler.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

    @Html.AntiForgeryToken()

    <center>
        <body>
            <table border="0" cellpadding="5" cellspacing="0">
                <tr>
                    <td>
                        Enter your E-mail Address
                    </td>
                    <p>Please enter your registered email address. We will send you a link to reset your password
</p>
                    <td>
                        @Html.TextBoxFor(model => model.Email)
                    </td>
                    <td>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Reset Password" />
                    </td>
                    <td></td>
                </tr>
            </table>

</body>
    </center>

