@{
    ViewBag.Title = "ForgotPassword";
}

<div class="forgotpwd" align="center">
    <h2>Reset Password</h2>
    <form class="forgotpwd_form">
        <p>please enter your registered email address. We will send you a link to reset your password</p>
        <p>Email address:</p>
        <input type="email" name="" placeholder="Enter your Email address">
        <input type="submit" value="Reset" />
    </form>
</div><!--forgotpwd-->
