@foreach (var item in Model){
    <div class="event">
        <p>@Html.Encode(item.EventTitle)</p>
        <p>@Html.Encode(item.StartTime)</p>
        <button class="btn btn-info" onclick="UnScheduleVolunteer(@item.EventID)">De-Commit</button>
    </div>
}