@foreach (var item in Model){
    <div class="event">
        <p>@Html.Encode(item.EventTitle)</p>
        <p>@Html.Encode(item.StartTime)</p>
        <button>sign up placeholder</button>
    </div>
}