body {
    background-image: url(../Images/Challenged-Champions-Background.jpg) !important;
}

#footer1 {
    font-style: normal;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#footer2 {
    font-style: italic;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#headerSpacing {
    margin-top: 0px;
    margin-bottom: 30px;
}

.bold-under {
    text-decoration: underline;
    font-weight: bold;
}

.btn {
    background-color: #006543 !important;
}

.btn:hover {
    background-color: white !important;
    color: #006543 !important;
}

.calendar {
    border-spacing: 5px;
    border-collapse: separate;
    width: 98%;
}

.calendar-day {
    border: groove;
    border-color: black;
    border-radius: 25px;
    padding: 5px;
    height: 80px;
}

.chalchampbackgroundcolor {
    background-color: #F3F0EB;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.txt-center {
    text-align: center !important;
}

.modal-header {
    margin: 0 auto !important;
}

.prompt {
    margin: 10px;
}

label {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

table {
    table-layout: fixed;
}

.changeemail, .forgotpwd, .changepwd, .changephone {
    background-color: rgba(224, 221, 216, 1);
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
    height: 420px
}

 .changeemail h2, .forgotpwd h2, .changepwd h2, .changephone h2 {
        text-align: center;
    }

.changeemail p, .forgotpwd p, .changepwd p, .changephone p {
        margin: auto;
        text-align:left;
    }

