body {
    background-image: url(../Images/Challenged-Champions-Background.jpg) !important;
}

#footer1 {
    font-style: normal;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#footer2 {
    font-style: italic;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.blackBackground {
    background-color: #292B2C;
    padding: 0 !important;
    margin-right: 0 !important;
}

.bold-under {
    text-decoration: underline;
    font-weight: bold;
}

.btn {
    background-color: #006543 !important;
}

.btn:hover {
    background-color: white !important;
    color: #006543 !important;
}

.calendar {
    border-spacing: 5px;
    border-collapse: separate;
    width: 90% !important;
}

.calendar-day {
    border: groove;
    border-color: black;
    border-radius: 25px;
    padding: 5px;
    height: 80px;
}

.cell-active {
    background-color: #F8CD2E;
}

.cell-inactive {
    background-color: white;
}

.chalchampbackgroundcolor {
    background-color: #F3F0EB;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.txt-center {
    text-align: center !important;
}

.modal-header {
    margin: 0 auto !important;
    /*background-color: #006543 !important;*/
}

.prompt {
    margin: 10px;
}

label {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

table {
    table-layout: fixed;
}

.volunteerTable {
    border-collapse: collapse;
    width: 100%;
}

.volunteerTable, .volunteerTable th, .volunteerTable td {
    border: 1px solid black;
}

calendar td:hover {
    border-width: 5px !important;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .mobile-row {
        visibility: hidden;
    }

    .headerSpacing {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 769px) {
    .desktop-row {
        visibility: hidden;
    }
}

.col-md-2 {
    text-align: left !important;
    width:100%;
}

.btn{
    color:white !important;
}