body {
    background-image: url(../Images/Challenged-Champions-Background.jpg) !important;
}

#footer1 {
    font-style: normal;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#footer2 {
    font-style: italic;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#headerSpacing {
    margin-top: 0px;
    margin-bottom: 30px;
}

.bold-under {
    text-decoration: underline;
    font-weight: bold;
}

.btn {
    background-color: #006543 !important;
}

.btn:hover {
    background-color: white !important;
    color: #006543 !important;
}

.calendar {
    border-spacing: 5px;
    border-collapse: separate;
    width: 98%;
}

.calendar-day {
    border: groove;
    border-color: black;
    border-radius: 25px;
    padding: 5px;
    height: 80px;
}

.cell-active {
    background-color: #F8CD2E;
}

.cell-inactive {
    background-color: white;
}

.chalchampbackgroundcolor {
    background-color: #F3F0EB;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.txt-center {
    text-align: center !important;
}

.modal-header {
    margin: 0 auto !important;
    /*background-color: #006543 !important;*/
}

.prompt {
    margin: 10px;
}

label {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

table {
    table-layout: fixed;
}

td:hover {
    border-width: 5px !important;
    cursor: pointer;
}

.changeemail, .forgotpwd, .changepwd, .changephone {
    //background-color: rgba(224, 221, 216, 1);
    //border: solid 2px black;
    //margin: 0 auto;
  //  margin-left: auto;
   // margin-right: auto;
    //width: 500px;
    padding: 10px;
    text-align: center;
}

 .changeemail h2, .forgotpwd h2, .changepwd h2, .changephone h2 {
        text-align: center;
    }

.changeemail p, .forgotpwd p, .changepwd p, .changephone p {
        width:100%;
       margin: auto;
        padding-top:20px;
    }

input[type=submit] {
    display:block;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

.changeemail_form, .forgotpwd_form, .changepwd_form, .changephone_form{
    //margin: 0 auto;
    background-color: rgba(224, 221, 216, 1);
    border: solid 2px black;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .mobile-row {
        visibility: hidden;
    }

    .headerSpacing {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 769px) {
    .desktop-row {
        visibility: hidden;
    }
}